openapi: 3.0.3
info:
  version: 1.0.0
  title: SyriusOrbit OGC API Maps Profile
  description: >-
    SyriusOrbit contract profile for OGC API - Maps, aligned with the
    standard and constrained for project-specific implementation.
  contact:
    name: SyriusOrbit Maintainers
    url: https://github.com/SyriusOrbit/syrius-orbit-contracts
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - description: SyriusOrbit API server
    url: https://api.syriusorbit.com
security: []
paths:
  /:
    $ref: './ogc-common.yaml#/paths/~1'
  /conformance:
    $ref: './ogc-common.yaml#/paths/~1conformance'
  /api:
    $ref: './ogc-common.yaml#/paths/~1api'
  /api/all-collections:
    get:
      tags:
        - API
      operationId: getAPICollections
      summary: Retrieve the list of collections available from this API implementation & deployment.
      parameters:
        - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Enumeration'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections:
    get:
      tags:
        - Data Collections
      operationId: getCollectionsList
      summary: Retrieve the list of geospatial data collections available from this service.
      parameters:
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/bbox'
        - name: limit
          in: query
          description: |-
            The optional limit parameter limits the number of collections that are presented in the response document.
            Only items are counted that are on the first level of the collection in the response document. Nested objects contained within the explicitly requested items shall not be counted.
            * Minimum = 1 * Maximum = 10000 * Default = 10
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 10
          style: form
          explode: false
        - $ref: '#/components/parameters/f-metadata'
      responses:
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '200':
          $ref: '#/components/responses/CollectionsList'
  /collections/{collectionId}:
    get:
      tags:
        - Data Collections
      operationId: getCollection
      summary: Retrieve the description of a collection available from this service.
      parameters:
        - $ref: '#/components/parameters/collectionId-all'
        - $ref: '#/components/parameters/f-metadata'
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '404':
          $ref: '#/components/responses/NotFound'
  /map:
    get:
      tags:
        - Maps
      summary: Retrieve a default map of the whole dataset
      operationId: .dataset.getMap
      parameters:
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/collections'
        - $ref: '#/components/parameters/subset'
        - $ref: '#/components/parameters/crs'
        - $ref: '#/components/parameters/bbox-crs'
        - $ref: '#/components/parameters/subset-crs'
        - $ref: '#/components/parameters/bgcolor'
        - $ref: '#/components/parameters/transparent'
        - $ref: '#/components/parameters/void-color'
        - $ref: '#/components/parameters/void-transparent'
        - $ref: '#/components/parameters/width'
        - $ref: '#/components/parameters/height'
        - $ref: '#/components/parameters/center'
        - $ref: '#/components/parameters/center-crs'
        - $ref: '#/components/parameters/scale-denominator'
        - $ref: '#/components/parameters/mm-per-pixel'
        - $ref: '#/components/parameters/orientation'
        - $ref: '#/components/parameters/f-map'
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '204':
          $ref: '#/components/responses/EmptyMap'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
  /collections/{collectionId}/map:
    get:
      tags:
        - Maps
      summary: Retrieve a map for the specified collection
      operationId: .collection.getMap
      parameters:
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/collectionId-all'
        - $ref: '#/components/parameters/collections'
        - $ref: '#/components/parameters/subset'
        - $ref: '#/components/parameters/crs'
        - $ref: '#/components/parameters/bbox-crs'
        - $ref: '#/components/parameters/subset-crs'
        - $ref: '#/components/parameters/bgcolor'
        - $ref: '#/components/parameters/transparent'
        - $ref: '#/components/parameters/void-color'
        - $ref: '#/components/parameters/void-transparent'
        - $ref: '#/components/parameters/width'
        - $ref: '#/components/parameters/height'
        - $ref: '#/components/parameters/center'
        - $ref: '#/components/parameters/center-crs'
        - $ref: '#/components/parameters/scale-denominator'
        - $ref: '#/components/parameters/mm-per-pixel'
        - $ref: '#/components/parameters/orientation'
        - $ref: '#/components/parameters/f-map'
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '204':
          $ref: '#/components/responses/EmptyMap'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    link:
      type: object
      required:
        - href
        - rel
      properties:
        href:
          type: string
          description: Supplies the URI to a remote resource (or resource fragment).
          example: http://data.example.com/buildings/123
        rel:
          type: string
          description: The type or semantics of the relation.
          example: alternate
        type:
          type: string
          description: A hint indicating what the media type of the result of dereferencing the link should be.
          example: application/geo+json
        templated:
          type: boolean
          description: This flag set to true if the link is a URL template.
        varBase:
          description: A base path to retrieve semantic information about the variables used in URL template.
          type: string
          example: /ogcapi/vars/
        hreflang:
          type: string
          description: A hint indicating what the language of the result of dereferencing the link should be.
          example: en
        title:
          type: string
          description: Used to label the destination of a link such that it can be used as a human-readable identifier.
          example: Trierer Strasse 70, 53115 Bonn
        length:
          type: integer
    exception:
      title: Exception Schema
      description: JSON schema for exceptions based on RFC 7807
      type: object
      required:
        - type
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    collections:
      type: object
      required:
        - links
        - collections
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        timeStamp:
          type: string
          format: date-time
        numberMatched:
          $ref: '#/components/schemas/numberMatched'
        numberReturned:
          $ref: '#/components/schemas/numberReturned'
        collections:
          type: array
          items:
            $ref: '#/components/schemas/collectionDesc'
    collectionDesc:
      type: object
      required:
        - id
        - links
      properties:
        id:
          type: string
          description: identifier of the collection used, for example, in URIs
          example: dem
        title:
          type: string
          description: human readable title of the collection
          example: Digital Elevation Model
        description:
          type: string
          description: a description of the data in the collection
          example: A Digital Elevation Model.
        attribution:
          type: string
          title: attribution for the collection
        links:
          type: array
          example:
            - href: http://data.example.org/collections/dem?f=json
              rel: self
              type: application/json
              title: Digital Elevation Model
            - href: http://data.example.org/collections/dem?f=html
              rel: alternate
              type: application/json
              title: Digital Elevation Model
            - href: http://data.example.org/collections/dem/coverage
              rel: coverage
              type: image/tiff; application=geotiff
              title: Digital Elevation Model
            - href: http://data.example.org/collections/dem/coverage/domainset
              rel: domainset
              type: application/json
              title: Digital Elevation Model
            - href: http://data.example.org/collections/dem/coverage/rangetype
              rel: rangetype
              type: application/json
              title: Digital Elevation Model
            - href: http://data.example.org/collections/dem/coverage/metadata
              rel: metadata
              type: application/json
              title: Digital Elevation Model
          items:
            $ref: '#/components/schemas/link'
        extent:
          $ref: '#/components/schemas/extent-uad'
        itemType:
          description: indicator about the type of the items in the collection if the collection has an accessible /collections/{collectionId}/items endpoint
          type: string
          default: unknown
        crs:
          description: the list of coordinate reference systems supported by the API; the first item is the default coordinate reference system
          type: array
          items:
            type: string
          default:
            - http://www.opengis.net/def/crs/OGC/1.3/CRS84
          example:
            - http://www.opengis.net/def/crs/OGC/1.3/CRS84
            - http://www.opengis.net/def/crs/EPSG/0/4326
        storageCrs:
          description: the native coordinate reference system (i.e., the most efficient CRS in which to request the data, possibly how the data is stored on the server); this is the default output coordinate reference system for Maps and Coverages
          type: string
          default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
          example: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        dataType:
          allOf:
            - description: Type of data represented in the collection
            - $ref: '#/components/schemas/dataType'
        geometryDimension:
          description: 'The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids), unspecified: mixed or unknown'
          type: integer
          minimum: 0
          maximum: 3
        minScaleDenominator:
          description: Minimum scale denominator for usage of the collection
          type: number
        maxScaleDenominator:
          description: Maximum scale denominator for usage of the collection
          type: number
        minCellSize:
          description: Minimum cell size for usage of the collection
          type: number
        maxCellSize:
          description: Maximum cell size for usage of the collection
          type: number
    extent:
      description: |-
        The extent of the data in the collection. In the Core only spatial and temporal
        extents are specified. Extensions may add additional members to represent other
        extents, for example, thermal or pressure ranges.

        The first item in the array describes the overall extent of
        the data. All subsequent items describe more precise extents,
        e.g., to identify clusters of data.
        Clients only interested in the overall extent will only need to
        access the first item in each array.
      type: object
      properties:
        spatial:
          description: The spatial extent of the data in the collection.
          type: object
          properties:
            bbox:
              description: |-
                One or more bounding boxes that describe the spatial extent of the dataset.

                The first bounding box describes the overall spatial
                extent of the data. All subsequent bounding boxes describe
                more precise bounding boxes, e.g., to identify clusters of data.
                Clients only interested in the overall spatial extent will
                only need to access the first item in each array.
              type: array
              minItems: 1
              items:
                description: |-
                  Each bounding box is provided as four or six numbers, depending on
                  whether the coordinate reference system includes a vertical axis
                  (height or depth):

                  * Lower left corner, coordinate axis 1
                  * Lower left corner, coordinate axis 2
                  * Minimum value, coordinate axis 3 (optional)
                  * Upper right corner, coordinate axis 1
                  * Upper right corner, coordinate axis 2
                  * Maximum value, coordinate axis 3 (optional)

                  If the value consists of four numbers, the coordinate reference system is
                  WGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)
                  unless a different coordinate reference system is specified in `crs` property.

                  If the value consists of six numbers, the coordinate reference system is WGS 84
                  longitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)
                  unless a different coordinate reference system is specified in `crs` property.

                  For WGS 84 longitude/latitude the values are in most cases the sequence of
                  minimum longitude, minimum latitude, maximum longitude and maximum latitude.
                  However, in cases where the box spans the antimeridian the first value
                  (west-most box edge) is larger than the third value (east-most box edge).

                  If the vertical axis is included, the third and the sixth number are
                  the bottom and the top of the 3-dimensional bounding box.

                  If a feature has multiple spatial geometry properties, it is the decision of the
                  server whether only a single spatial geometry property is used to determine
                  the extent or all relevant geometries.
                type: array
                oneOf:
                  - minItems: 4
                    maxItems: 4
                  - minItems: 6
                    maxItems: 6
                items:
                  type: number
                example:
                  - -180
                  - -90
                  - 180
                  - 90
            storageCrsBbox:
              description: |-
                One or more bounding boxes that describe the spatial extent of the dataset in the storage (native) CRS (`storageCrs` property).

                The first bounding box describes the overall spatial
                extent of the data. All subsequent bounding boxes describe
                more precise bounding boxes, e.g., to identify clusters of data.
                Clients only interested in the overall spatial extent will
                only need to access the first item in each array.
              type: array
              minItems: 1
              items:
                description: |-
                  Each bounding box is provided as four or six numbers, depending on
                  whether the coordinate reference system includes a vertical axis
                  (height or depth):

                  * Lower left corner, coordinate axis 1
                  * Lower left corner, coordinate axis 2
                  * Minimum value, coordinate axis 3 (optional)
                  * Upper right corner, coordinate axis 1
                  * Upper right corner, coordinate axis 2
                  * Maximum value, coordinate axis 3 (optional)
                type: array
                oneOf:
                  - minItems: 4
                    maxItems: 4
                  - minItems: 6
                    maxItems: 6
                items:
                  type: number
                example:
                  - -180
                  - -90
                  - 180
                  - 90
            crs:
              description: |-
                Coordinate reference system of the coordinates of the `bbox` property.
                The default reference system is WGS 84 longitude/latitude.
                WGS 84 longitude/latitude/ellipsoidal height for coordinates with height.
                For non-terrestrial coordinate reference system, another CRS may be specified.
              type: string
              enum:
                - http://www.opengis.net/def/crs/OGC/1.3/CRS84
                - http://www.opengis.net/def/crs/OGC/0/CRS84h
              default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
            grid:
              description: |-
                Provides information about the limited availability of data within the collection organized
                as a grid (regular or irregular) along each spatial dimension.
              type: array
              minItems: 2
              maxItems: 3
              items:
                type: object
                properties:
                  coordinates:
                    description: |-
                      List of coordinates along the dimension for which data organized as an irregular grid in the collection is available
                      (e.g., 2, 10, 80, 100).
                    type: array
                    minItems: 1
                    items:
                      oneOf:
                        - type: string
                          nullable: true
                        - type: number
                    example:
                      - 2
                      - 10
                      - 80
                      - 100
                  cellsCount:
                    description: |-
                      Number of samples available along the dimension for data organized as a regular grid.
                      For values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.
                      For values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.
                    type: integer
                    example: 50
                  resolution:
                    description: Resolution of regularly gridded data along the dimension in the collection
                    oneOf:
                      - type: string
                        nullable: true
                      - type: number
                    example: 0.0006866455078
        temporal:
          description: The temporal extent of the features in the collection.
          type: object
          properties:
            interval:
              description: |-
                One or more time intervals that describe the temporal extent of the dataset.
                In the Core only a single time interval is supported.

                Extensions may support multiple intervals.
                The first time interval describes the overall
                temporal extent of the data. All subsequent time intervals describe
                more precise time intervals, e.g., to identify clusters of data.
                Clients only interested in the overall extent will only need
                to access the first item in each array.
              type: array
              minItems: 1
              example:
                -
                  - '2011-11-11T12:22:11Z'
                  - '2011-11-11T16:22:11Z'
                -
                  - '2012-01-01T00:00:00Z'
                  - null
              items:
                description: |-
                  Begin and end times of the time interval. The timestamps are in the
                  temporal coordinate reference system specified in `trs`. By default
                  this is the Gregorian calendar, expressed using RFC 3339 section 5.6.
                  Note that these times may be specified using time zone offsets to UTC time other than zero.

                  The value `null` for start or end time is supported and indicates a half-bounded time interval.
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: string
                  format: date-time
                  nullable: true
            trs:
              description: |-
                Coordinate reference system of the coordinates in the temporal extent
                (property `interval`). The default reference system is the Gregorian calendar.
                In the Core this is the only supported temporal coordinate reference system.
                Extensions may support additional temporal coordinate reference systems and add
                additional enum values.
              type: string
              enum:
                - http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
              default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
            grid:
              type: object
              description: Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the temporal dimension.
              properties:
                coordinates:
                  description: |-
                    List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available
                    (e.g., "2017-11-14T09:00Z","2017-11-14T12:00Z","2017-11-14T15:00Z","2017-11-14T18:00Z","2017-11-14T21:00Z").
                  type: array
                  minItems: 1
                  items:
                    type: string
                    nullable: true
                  example:
                    - 2020-11-12T12:15Z
                    - 2020-11-12T12:30Z
                    - 2020-11-12T12:45Z
                cellsCount:
                  description: |-
                    Number of samples available along the temporal dimension for data organized as a regular grid.
                    For values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.
                    For values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.
                  type: integer
                  example: 50
                resolution:
                  description: Resolution of regularly gridded data along the temporal dimension in the collection
                  oneOf:
                    - type: string
                      nullable: true
                    - type: number
                  example: PT1H
    extent-uad:
      title: Extent with Uniform Additional Dimensions Schema
      description: |-
        The extent module only addresses spatial and temporal extents. This module extends extent by specifying how
        intervals and crs properties can be used to specify additional geometries.
      allOf:
        - $ref: '#/components/schemas/extent'
        - type: object
          properties:
            spatial: {}
            temporal: {}
          additionalProperties:
            description: The domain intervals for any additional dimensions of the extent (envelope) beyond those described in temporal and spatial.
            type: object
            oneOf:
              - required:
                  - interval
                  - definition
              - required:
                  - interval
                  - trs
              - required:
                  - interval
                  - vrs
            properties:
              interval:
                description: |-
                  One or more intervals that describe the extent for this dimension of the dataset.
                  The value `null` is supported and indicates an unbounded or half-bounded interval.
                  The first interval describes the overall extent of the data for this dimension.
                  All subsequent intervals describe more precise intervals, e.g., to identify clusters of data.
                  Clients only interested in the overall extent will only need
                  to access the first item (a pair of lower and upper bound values).
                type: array
                minItems: 1
                example:
                  -
                    - '2011-11-11T12:22:11Z'
                    - '2011-11-11T16:22:11Z'
                  -
                    - '2012-01-01T00:00:00Z'
                    - null
                items:
                  description: |-
                    Lower and upper bound values of the interval. The values
                    are in the coordinate reference system specified in `crs`, `trs` or `vrs`.
                  type: array
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - type: string
                        nullable: true
                      - type: number
              trs:
                type: string
                description: temporal coordinate reference system (e.g. as defined by Features for 'temporal')
              vrs:
                type: string
                description: vertical coordinate reference system (e.g. as defined in EDR for 'vertical')
              grid:
                type: object
                description: Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the dimension.
                properties:
                  coordinates:
                    description: |-
                      List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available
                      (e.g., 2, 10, 80, 100).
                    type: array
                    minItems: 1
                    items:
                      oneOf:
                        - type: string
                          nullable: true
                        - type: number
                    example:
                      - 2
                      - 10
                      - 80
                      - 100
                  cellsCount:
                    description: |-
                      Number of samples available along the dimension for data organized as a regular grid.
                      For values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.
                      For values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.
                    type: integer
                    example: 50
                  resolution:
                    description: Resolution of regularly gridded data along the dimension in the collection
                    oneOf:
                      - type: string
                        nullable: true
                      - type: number
                    example: PT1H
              definition:
                type: string
                format: uri
                description: A URI to the definition of the measured or observed property corresponding to this dimension.
              unit:
                type: string
                description: The unit of measure in which the interval and/or grid values are expressed.
              unitLang:
                type: string
                default: UCUM
                description: The language (or vocabulary) in which the unit is expressed (defaults to "UCUM" if not specified).
    dataType:
      anyOf:
        - type: string
        - type: string
          enum:
            - map
            - vector
            - coverage
    numberReturned:
      description: |-
        The number of elements in the response.
        A server may omit this information, if the information about the
        number of elements is not known or difficult to compute.
        If the value is provided, the value shall be identical to the number
        of elements in the response.
      type: integer
      minimum: 0
      example: 10
    numberMatched:
      description: The number of elements in the response that match the selection parameters like `bbox`.
      type: integer
      minimum: 0
      example: 127
    enumeration:
      type: object
      required:
        - type
        - enum
      properties:
        type:
          type: string
          enum:
            - enum
        enum:
          type: array
          items:
            type: string
    all-collections:
      type: string
      enum:
        - blueMarble
        - NaturalEarth:raster:HYP_HR_SR_OB_DR
        - NaturalEarth:cultural:ne_10m_admin_0_countries
        - NaturalEarth:physical:bathymetry
        - SRTM_ViewFinderPanorama
        - HRDEM-Ottawa
        - HRDEM-RedRiver
  parameters:
    f-metadata:
      name: f
      in: query
      description: The format of the response. If no value is provided, the accept header is used to determine the format. Accepted values are 'json' or 'html'.
      required: false
      schema:
        type: string
        enum:
          - json
          - html
      style: form
      explode: false
    collectionId-all:
      name: collectionId
      in: path
      description: Local identifier of a collection
      required: true
      schema:
        $ref: '#/components/schemas/all-collections'
    bbox:
      name: bbox
      in: query
      description: |-
        Only resources that have a geometry that intersects the bounding box are selected. The bounding box is provided as four or six numbers, depending on whether the coordinate reference system includes a vertical axis (elevation or depth):
        * Lower left corner, coordinate axis 1 * Lower left corner, coordinate axis 2 * Minimum value, coordinate axis 3 (optional) * Upper right corner, coordinate axis 1 * Upper right corner, coordinate axis 2 * Maximum value, coordinate axis 3 (optional)
        If the value consists of four numbers, the coordinate reference system is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)  unless a different coordinate reference system is specified in the parameter `bbox-crs`.
        If the value consists of six numbers, the coordinate reference system is WGS 84  longitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h) unless a different coordinate reference system is specified in a parameter `bbox-crs`.
        For WGS84 longitude/latitude the values are in most cases the sequence of minimum longitude, minimum latitude, maximum longitude and maximum latitude. However, in cases where the box spans the antimeridian the first value (west-most box edge) is larger than the third value (east-most box edge).
        If the vertical axis is included, the third and the sixth number are the bottom and the top of the 3-dimensional bounding box.
        If a resource has multiple spatial geometry properties, it is the decision of the server  whether only a single spatial geometry property is used to determine the extent or all relevant geometries.
      required: false
      schema:
        type: array
        oneOf:
          - minItems: 4
            maxItems: 4
          - minItems: 6
            maxItems: 6
        items:
          type: number
      style: form
      explode: false
    datetime:
      name: datetime
      in: query
      description: |-
        Either a date-time or an interval. Date and time expressions adhere to RFC 3339, section 5.6. Intervals may be bounded or half-bounded (double-dots at start or end). Server implementations may or may not support times expressed using time offsets from UTC, but need to support UTC time with the notation ending with a Z.
        Examples:
        * A date-time: "2018-02-12T23:20:50Z" * A bounded interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z" * Half-bounded intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"
        Only resources that have a temporal property that intersects the value of `datetime` are selected.
        If a feature has multiple temporal properties, it is the decision of the server whether only a single temporal property is used to determine the extent or all relevant temporal properties.
      required: false
      schema:
        type: string
      style: form
      explode: false
    crs:
      name: crs
      in: query
      description: reproject the output to the given crs
      required: false
      style: form
      explode: true
      schema:
        type: string
    bbox-crs:
      name: bbox-crs
      in: query
      description: crs for the specified bbox
      required: false
      style: form
      explode: true
      schema:
        type: string
    subset-crs:
      name: subset-crs
      in: query
      description: crs for the specified subset
      required: false
      style: form
      explode: true
      schema:
        type: string
    collections:
      name: collections
      in: query
      style: form
      description: The collections that should be included in the response. The parameter value is a comma-separated list of collection identifiers. If the parameters is missing, some or all collections will be included. The collection will be rendered in the order specified, with the last one showing on top, unless the priority is overridden by styling rules.
      required: false
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/all-collections'
    subset:
      name: subset
      in: query
      description: |
        Retrieve only part of the data by slicing or trimming along one or more axis
        For trimming: {axisAbbrev}({low}:{high}) (preserves dimensionality)
        For slicing:  {axisAbbrev}({value})      (reduces dimensionality)
        An asterisk (`*`) can be used instead of {low} or {high} to indicate the minimum/maximum value.
        For a temporal dimension, a single asterisk can be used to indicate the high value.
        Support for `*` is required for time, but optional for spatial and other dimensions.
      style: form
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
    bgcolor:
      name: bgcolor
      in: query
      description: Web color name or hexadecimal 0x[AA]RRGGBB color value for the background color (default to 0x9C9C9C gray). If alpha is not specified, full opacity is assumed.
      required: false
      style: form
      explode: false
      schema:
        type: string
        default: '0xFFFFFF'
    transparent:
      name: transparent
      in: query
      description: Background transparency of map (defaults to `true` without a `bgcolor` specified, but to `false` when a `bgcolor` is used).
      required: false
      style: form
      explode: false
      schema:
        type: boolean
        default: true
    void-color:
      name: void-color
      in: query
      description: Web color name or hexadecimal 0x[AA]RRGGBB color value for the void color for parts of the map outside of the valid area of the projection / CRS. If not specified, this defaults to the same as `bgcolor`.
      required: false
      style: form
      explode: false
      schema:
        type: string
        default: '0xFFFFFF'
    void-transparent:
      name: void-transparent
      in: query
      description: Background transparency for parts of the map outside of the valid areas of the CRS / projection (defaults to the same as `transparent` if not specified).
      required: false
      style: form
      explode: false
      schema:
        type: boolean
        default: true
    width:
      name: width
      in: query
      description: Width of the map in pixels. If omitted and `height` is specified, defaults to the width maintaining a 1:1 aspect ratio. If both `width` and `height` are omitted, the server will select default dimensions. When used together with the `center` and/or `scale-denominator` parameter, `width` takes on a subsetting role rather than scaling (resampling), defining the horizontal portion of the map to subset based on the scale (native scale, or specified by `scale-denominator`) and display resolution (0.28 mm/pixel, or specified by `mm-per-pixel`).
      required: false
      style: form
      explode: false
      schema:
        type: integer
    height:
      name: height
      in: query
      description: Height of the map in pixels. If omitted and `width` is specified, defaults to the height maintaining a 1:1 aspect ratio. If both `width` and `height` are omitted, the server will select default dimensions. When used together with the `center` and/or `scale-denominator` parameter, `height` takes on a subsetting role rather than scaling (resampling), defining the vertical portion of the map to subset based on the scale (native scale, or specified by `scale-denominator`) and display resolution (0.28 mm/pixel, or specified by `mm-per-pixel`).
      required: false
      style: form
      explode: false
      schema:
        type: integer
    center:
      name: center
      in: query
      description: Coordinates of center point for subsetting, in conjunction with the `width` and/or `height` parameters, taking into consideration the scale and display resolution of the map. The center coordinates are comma-separated and interpreted as [ogc:CRS84], unless the `center-crs` parameter specifies otherwise.
      required: false
      style: form
      explode: false
      schema:
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: number
    center-crs:
      name: center-crs
      in: query
      description: CRS for the specified center point
      required: false
      style: form
      explode: true
      schema:
        type: string
    scale-denominator:
      name: scale-denominator
      in: query
      description: Scale denominator of the map specifying to how many units in the real world one of the same unit on the map corresponds, as printed or displayed, taking into account the display resolution (`mm-per-pixel` or 0.28 mm/pixel default). This parameter can only be used together with the `width` or `height` parameters (which provide an alternative mechanism to control the scale) if the implementation also supports subsetting, in which case those `width` and `height` parameters then control the subset of the map returned rather than the scale. If `scale-denominator` is omitted, the scale is implied from the dimensions of the returned map compared to its spatial subset area.
      required: false
      style: form
      explode: false
      schema:
        type: number
    mm-per-pixel:
      name: mm-per-pixel
      in: query
      description: Display resolution of the target rendering device in millimeters per pixel. This parameter controls the relationship between the dimensions of the resulting map in pixels and the scale of the map. The display resolution is taken into account for applying symbology rules, for the `scale-denominator` parameter, and for the spatial subsetting using a `center`, `width` and `height` parameters.
      required: false
      style: form
      explode: false
      schema:
        type: number
        default: 0.28
    orientation:
      name: orientation
      in: query
      description: Orientation in degrees by which the content of the map is to be rotated around the center of the subset area as pivot point in a counter-clockwise direction, resulting in the viewing perspective being rotated by the same orientation in a clockwise direction.
      required: false
      style: form
      explode: false
      schema:
        type: number
        default: 0
    f-map:
      name: f
      in: query
      description: The format of the map response (e.g. png). Accepted values are 'png', 'jpg' or 'tiff' (GeoTIFF).
      required: false
      schema:
        type: string
        enum:
          - png
          - jpg
          - tiff
      style: form
      explode: false
  responses:
    NotFound:
      description: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    NotAcceptable:
      description: Content negotiation failed. For example, the `Accept` header submitted in the request did not support any of the media types supported by the server for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    ServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    InvalidParameter:
      description: A query parameter has an invalid value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    Enumeration:
      description: An enumerated list of valid string values for API parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/enumeration'
        text/html:
          schema:
            type: string
    CollectionsList:
      description: |-
        The collections of (mostly geospatial) data available from this API. The dataset contains one or more collections. This resource provides information about and access to the collections. The response contains the list of collections. Each collection is accessible via one or more OGC API set of specifications, for which a link to relevant accessible resources, e.g. /collections/{collectionId}/(items, coverage, map, tiles...) is provided, with the corresponding relation type, as well as key information about the collection. This information includes:
        * a local identifier for the collection that is unique for the dataset;
        * a list of coordinate reference systems (CRS) in which data may be returned by the server. The first CRS is the default coordinate reference system (the default is always WGS 84 with axis order longitude/latitude);
        * an optional title and description for the collection;
        * an optional extent that can be used to provide an indication of the spatial and temporal extent of the collection - typically derived from the data;
        * for collections accessible via the Features or Records API, an optional indicator about the type of the items in the collection (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/collections'
          example:
            links:
              - href: http://data.example.org/collections.json
                rel: self
                type: application/json
                title: this document
              - href: http://data.example.org/collections.html
                rel: alternate
                type: text/html
                title: this document as HTML
              - href: http://schemas.example.org/1.0/buildings.xsd
                rel: describedby
                type: application/xml
                title: GML application schema for Acme Corporation building data
              - href: http://download.example.org/buildings.gpkg
                rel: enclosure
                type: application/geopackage+sqlite3
                title: Bulk download (GeoPackage)
                length: 472546
            collections:
              - id: buildings
                title: Buildings
                description: Buildings in the city of Bonn.
                extent:
                  spatial:
                    bbox:
                      - - 7.01
                        - 50.63
                        - 7.22
                        - 50.78
                  temporal:
                    interval:
                      - - '2010-02-15T12:34:56Z'
                        - null
                links:
                  - href: http://data.example.org/collections/buildings/items
                    rel: items
                    type: application/geo+json
                    title: Buildings
                  - href: http://data.example.org/collections/buildings/items.html
                    rel: items
                    type: text/html
                    title: Buildings
                  - href: https://creativecommons.org/publicdomain/zero/1.0/
                    rel: license
                    type: text/html
                    title: CC0-1.0
                  - href: https://creativecommons.org/publicdomain/zero/1.0/rdf
                    rel: license
                    type: application/rdf+xml
                    title: CC0-1.0
        text/html:
          schema:
            type: string
    Collection:
      description: |-
        Information about a particular collection of (mostly geospatial) data available from this API. The collection is accessible via one or more OGC API set of specifications, for which a link to relevant accessible resources, e.g. /collections/{collectionId}/(items, coverage, map, tiles...) is contained in the response, with the corresponding relation type, as well as key information about the collection. This information includes:
        * a local identifier for the collection that is unique for the dataset;
        * a list of coordinate reference systems (CRS) in which data may be returned by the server. The first CRS is the default coordinate reference system (the default is always WGS 84 with axis order longitude/latitude);
        * an optional title and description for the collection;
        * an optional extent that can be used to provide an indication of the spatial and temporal extent of the collection - typically derived from the data;
        * for collections accessible via the Features or Records API, an optional indicator about the type of the items in the collection (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/collectionDesc'
          example:
            id: buildings
            title: Buildings
            description: Buildings in the city of Bonn.
            extent:
              spatial:
                bbox:
                  - - 7.01
                    - 50.63
                    - 7.22
                    - 50.78
              temporal:
                interval:
                  - - '2010-02-15T12:34:56Z'
                    - null
            links:
              - href: http://data.example.org/collections/buildings/items
                rel: items
                type: application/geo+json
                title: Buildings
              - href: http://data.example.org/collections/buildings/items.html
                rel: items
                type: text/html
                title: Buildings
              - href: https://creativecommons.org/publicdomain/zero/1.0/
                rel: license
                type: text/html
                title: CC0-1.0
              - href: https://creativecommons.org/publicdomain/zero/1.0/rdf
                rel: license
                type: application/rdf+xml
                title: CC0-1.0
        text/html:
          schema:
            type: string
    Map:
      description: A map image returned as a response.
      content:
        image/png:
          schema:
            type: string
            format: binary
        image/jpeg:
          schema:
            type: string
            format: binary
        image/tiff; application=geotiff:
          schema:
            type: string
            format: binary
    EmptyMap:
      description: No data available for this map extent.
